// Layout configuration.
layout {
	always-center-single-column

	// Gaps around (inside & outside) windows in pixels.
	gaps 6

	// Set the default width of new windows.
    // FIXME: with this commented out apps will determine their own starting width
    // Need try it out and decide
	// default-column-width { proportion 0.5; }

	// Set the widths that the `switch-preset-window-column` action toggles between.
    preset-column-widths {
		proportion 0.25
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
    }

	// Set the heights that the `switch-preset-window-height` action toggles between.
	preset-window-heights {
		proportion 0.25
		proportion 0.5
		proportion 1.0
	}

	// rocus ring configuration.
	focus-ring {
		// Width of the focus ring in pixels.
		width 1

		// Color of the active focus ring.
		active-color "#FF9400"

		// Color of the inactive focus ring.
		inactive-color "#2D2D30"

		// Color of the focus ring around windows that request your attention.
		urgent-color "#ff0060"
	}

	// Tab indicator configuration.
	tab-indicator {
		// Set the gap between the tab indicator and the window in pixels.
		gap 0

		// Length of the indicator.
		length total-proportion=1.0

		// Whether to put the tab indicator "within" the column, rather than outside.
		// This will include it in column sizing and avoid overlaying adjacent columns.
		place-within-column

		// Position of the indicator.
		position "left"

		// Width of the tab indicator
		width 6
	}

	// Structs configuration.
	struts {
		// Set a negative strut for the top and bottom to minimize wasted space.
		// Set a 1px wide strut on the sides to allow easy window switching with the mouse.
		left 0
		right 0
		top 1
		bottom -1
	}

	// Set the default background color when no image is used.
	// Set to `"transparent"` to show the image background when the background is placed within the backdrop.
	background-color "transparent"
}
