layout {
    cwd "$HOME"
    tab name="TODO" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane command="nvim" cwd="$HOME/sync/obsidian-vault-01/wiki/" {
            args "0_TODO.md"
            start_suspended false
        }
    }
    tab name="Introdus" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane split_direction="vertical" {
            pane command="nvim" cwd="$HOME/src/nix/introdus" size="60%" {
                start_suspended true
            }
            pane size="40%" {
                pane cwd="$HOME/src/nix/introdus" size="75%" {
                }
                pane command="just" cwd="$HOME/src/nix/introdus" size="25%" {
                    args "rebuild"
                    start_suspended true
                }
            }
        }
        floating_panes {
            pane cwd="$HOME/src/nix/introdus" {
                height 44
                width 173
                x 87
                y 23
            }
        }
    }
    tab name="Nix-Config"  hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane split_direction="vertical" {
            pane focus=true command="nvim" cwd="$HOME/src/nix/nix-config" size="60%" {
                start_suspended true
            }
            pane size="40%" {
                pane cwd="src/nix/nix-config" size="75%" {
                }
                pane command="just" cwd="$HOME/src/nix/nix-config" size="25%" {
                    args "rebuild"
                    start_suspended true
                }
            }
        }
        floating_panes {
            pane cwd="src/nix/nix-config" {
                height 44
                width 173
                x 87
                y 23
            }
        }
    }
    tab name="Abbot" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane command="nvim" cwd="$HOME/src/abbot-wiki" size="50%"
        pane split_direction="vertical" {
            pane command="nvim" cwd="$HOME/src/abbot-wiki" size="50%" {
                start_suspended true
            }
            pane cwd="$HOME/src/abbot-wiki" size="50%"
        }

    }
    tab name="FidgetingBits" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane split_direction="vertical" {
            pane command="nvim" cwd="$HOME/pub/src/nix/fidgetingbits" size="50%" {
                start_suspended true
            }
            pane cwd="$HOME/pub/src/nix/fidgetingbits" size="50%"
        }
    }
    tab name="Wiki" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane command="nvim" cwd="$HOME/sync/obsidian-vault-01/wiki/" {
            args "0_home.md"
            start_suspended true
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        pane cwd="$HOME"
    }
}
